.maintenance, .incident {
  border-bottom: 2px solid #9FBBE4;
  padding-bottom: 13px;
}

.maintenance-bottom, .incident-bottom {
  border-bottom-color: #ffffff;
  padding-bottom: 0px;
}

.full-text {
  display: none;
}

header {
  display: flex;
}

img {
  height: 4px;
  width: 8px;
  cursor: pointer;
  transition: 0.3s linear;
}

img:active {
  transform: scale(2.0);
}

header {
  justify-content: space-between;
  align-items: center;
}